#index {
    background-color: rgb(255, 255, 255);
}

#banner {
    width: 100%;
}

#banner img {
    width: 100%;
}

#descripcion__inicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px;
    gap: 40px;
}

.descripcion__texto {
    display: flex;
    gap: 10px;
    flex-direction: column;
    width: 100%;
    line-height: 1.2;
}

#galeria {
    background: rgb(148, 233, 178);
    background: radial-gradient(circle, rgba(148, 233, 178, 1) 0%, rgba(13, 194, 223, 1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px;
    gap: 50px;
    overflow: hidden;
}

#galeria div {
    overflow: hidden;
}

.galery__container {
    height: 500px;
    display: flex;
    gap: 10px;
    overflow: hidden;
}

.image__controller__animation{
    margin-left: 0px;
    animation-duration: 10s;
    animation-name: desplazarbanner;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
    position: relative;
}

.info__container {
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 80%;
}

@keyframes desplazarbanner {
    from {
        margin-left: 0px;
    }

    to {
        margin-left: -350px;
    }
}

#contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.map__container {
    width: calc(100% - 100px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

.title__ubication {
    margin-bottom: 20px;
}

.contact__points__container {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 0 0 25px 0;
}

.contact__points__container ul {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}

form {
    background: rgb(79, 247, 139);
    background: linear-gradient(180deg, rgb(0, 252, 193) 0%, rgba(23, 213, 244, 1) 100%);
    width: 100%;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form h2 {
    margin-bottom: 25px;
}

input,
textarea {
    width: 80%;
    max-width: 600px;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 15px;
    box-sizing: border-box;
    border: none;
    outline-style: none;
    resize: none;
    font-family: var(--primary-font);
    color: var(--placeholder-font-color);
}

label {
    font-weight: 500;
    margin-bottom: 5px;
    margin-top: 10px;
    width: 80%;
    max-width: 600px;
    font-family: var(--primary-font);
    font-size: 14px;
}

.send__btn {
    margin-top: 10px;
}

.contact_img {
    width: 65px;
    height: 65px;
    padding: 5px;
    background-color: var(--btn-dark-color);
    border-radius: 100%;
    z-index: 1;
}

.contact_img img {
    filter: invert();
}

.contact__point {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.contact__point p {
    background-color: var(--btn-color);
    padding: 15px 20px 15px 40px;
    margin-left: -25px;
    border-radius: 0 20px 20px 0;
    font-family: var(--primary-font);
    color: var(--light-font-color);
}

@media screen and (max-width: 1024px) {

    #banner {
        padding: 170px 0 0 0;
    }

    .contact_img {
        width: 50px;
        height: 50px;
    }

    .contact__points__container ul {
        gap: 10px;
        justify-content: center;
    }

    .title__ubication {
        font-size: 2rem;
    }

    .map__container {
        width: calc(100% - 40px);
        padding: 20px;
    }

    .map__container iframe{
        border: 0;
        width: 100%;
        height: 280px;
    }

}

@media screen and (max-width: 768px) {

    #banner {
        padding: 0;
    }

    .contact_img {
        width: 40px;
        height: 40px;
    }

    .contact__points__container {
        gap: 10px;
    }

    .contact__points__container ul li a p{
        display: none;
    }
}

@media screen and (max-width: 480px) {

    #banner img {
        display: none;
    }

    #descripcion__inicio {
        background-image: url(../assets/images/banner-inicio.webp) ;
        background-repeat: no-repeat;
        background-position: right top;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 60px;
        gap: 40px;
    }

    .info__container {
        background: rgb(1, 26, 19);
        background: linear-gradient(301deg, rgb(2, 38, 28) 0%, rgb(12, 29, 1) 90%); 
        width: 100%;
        padding: 30px;
        border-radius: 20px;
    }

    .info__container .principal__title{
        font-size: 2rem;
        color: white;
    }

    .info__container .principal__text {
        font-size: 0.9rem;
        color: white;
        text-align: start;
    }

    .galery__container {
        height: 300px;
    }

    .image__controller__animation {
        animation-duration: 15s;
    }

    @keyframes desplazarbanner {
        from {
            margin-left: 0px;
        }
    
        to {
            margin-left: -820px;
        }
    }

    .send__btn {
        width: 80%;
    }
}